.Landing-Page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    color: rgb(3,38,55);
    background-color: rgb(242,236,240);
}

.Landing-logo {
    max-width: 100vw;
}

.Welcome-Message {
    background-color: rgb(242,236,240);
    color: rgb(3,38,55);
    margin: 15px 20px;
    padding: 20px 10px;
    line-height: 1.5;
}

.Welcome-Message h3 {
    padding-bottom: 15px;
}

.Welcome-Message p {
    margin: 0 25px;
    padding-bottom: 40px;
}

.submit {
    padding: 8px 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    color: rgb(242,236,240);
    background-color: rgb(3,38,55);
    border-radius: 100px;
    border: none;
    position: relative;
}

@media only screen and (min-width: 722px) {
    .Landing-page {
        font-size: 18px;
    }
    .Welcome-Message p {
        margin: 0 100px;
    }
    .Landing-logo {
        width: auto;
        max-height: 613px;
        position: relative;
    }
}

@media only screen and (min-width: 1024px) {
    .Landing-page {
        font-size: 19px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: linear-gradient(65deg,rgba(3,38,55,.8),rgb(242,236,240) 70%);
    }
    .Landing-logo {
        max-height: 350px;
    }
}